@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --white: #fff;
    --bg-color: #ebeef3;
    --accent: #2954c7; 
    --accent-medium: #0F648C;
    --accent-dark: #1A495F;
    --font-color: #292b31;

    --default-transition: all .3s ease-in-out;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    background-color: var(--bg-color);
    color: var(--font-color);
    display: flex;
    flex-direction: column;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, .title {
    font-weight: 700;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.btn {
    border: 0;
    padding: 1rem 1.5rem;
    text-transform: uppercase;
}

.btn--cta {
    background-color: var(--accent);
    color: #fff;
}

.main {
    flex-grow: 1;
}

.wrapper {
    margin: 0 auto;
    max-width: 1440px;
    padding-block: 1.5rem;
}

.section {
    min-height: 100vh;
}

.page__title {
    font-size: 3.2rem;
    margin-block-end: 3rem;
}
