---
import { Image } from 'astro:assets';
const { data, height } = Astro.props;
---

<div class="swiper-container">
    <div class="swiper main">
        <div class="swiper-wrapper">
            {
                data.map(item => (
                    <div class="swiper-slide" style={ `height: ${ height }` }>
                        <Image src={ item.imagePath } alt="Image 1" class="slide__image" width="400" height="400" />
                        {
                            item.title ? (
                                <div class="slide__overlay">
                                    <h2 class="slide__title"> { item.title } </h2>
                                    <p> { item.txt } </p>
                                </div>
                            ) : null
                        }
                    </div>
                ))
            }
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>

<script src="../lib/carousel.js"></script>

<style>

    .slide__image {
        height: 100%;
        object-fit: cover;
        width: 100%;
    }

    .slide__overlay {
        background-color: rgba(0, 0, 0, .5);
        color: var(--white);
        inset-block-end: 9rem;
        inset-inline-start: 6rem;
        max-width: 50%;
        padding: 3rem;
        position: absolute;
        user-select: none;
    }

    .slide__title {
        font-size: 3rem;
        margin-block-end: 2rem;
    }


    .swiper-button-prev,
    .swiper-button-next {
        color: var(--white);
        opacity: .6;
        transition: var(--default-transition);

        &:hover {
            opacity: 1;
        }
    }
    .swiper-button-prev {
        margin-inline-start: 1.5rem;
    }

    .swiper-button-next {
        margin-inline-end: 1.5rem;
    }

</style>