---
import { Image } from 'astro:assets';
import Footer from '../images/footer.png';
import SocialMenu from './SocialMenu.astro';

const links = [
    {
        network: 'Facebook',
        href: 'https://www.facebook.com/APCMONG/',
    },
    {
        network: 'Twitter',
        href: 'https://x.com/APCM_ONG',
    },
    {
        network: 'Instagram',
        href: 'https://www.instagram.com/apcm_ong/',
    }
]
---

<footer class="footer">
    <Image src={ Footer } alt="Footer" class="footer__banner"/>
    <div class="footer__content">
        <div class="footer__copyright">
            <p>Copyright &copy; 2017 - Associação para as Ciências do Mar. Todos os direitos reservados.</p> 
        </div>
        <div class="footer__social">     
            <SocialMenu links={ links } color="white" />
        </div>
    </div>
</footer>

<style>

    .footer {
        color: var(--white);
    }

    .footer__banner {
        height: 420px;
        object-fit: cover;
        object-position: top;
        width: 100%;
    }

    .footer__content {
        align-items: center;
        background-color: var(--accent);
        display: flex;
        justify-content: space-between;
        margin-block-start: -10px;
        padding-block: 3rem;
        padding-inline: 1.5rem;
    }

</style>