<footer class="footer">
    <div class="footer__copyright">
        <p>Copyright &copy; 2017 - Associação para as Ciências do Mar. Todos os direitos reservados.</p>
    </div>
    <div class="footer__social">
        
    </div>
</footer>

<style>

    .footer {
        padding-block: 1.5rem;
        padding-inline: 1.5rem;
    }

</style>s