---
import { Image } from 'astro:assets';
import Navigation from '../components/Navigation.astro'; 
import logo from '../images/logo.webp';
---

<header class="header">
    <div class="logo">
        <Image src={ logo } alt="APCM Logo" aria-hidden="true" class="logo__image"/>
    </div>
    <Navigation />
    <div class="cta">
        <button class="btn">Participar</button>
        <button class="btn btn--cta">Donativos</button>
    </div>
</header>

<style>
    
    .header {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-block-end: 1.5rem;
        padding-block: 1.5rem;
        padding-inline: 1.5rem;
    }

    .logo {
        height: 120px;
        width: 120px;
    }

    .logo__image {
        filter: hue-rotate(10deg); 
        height: 100%;
        object-fit: contain;
        width: 100%;
    }

    .cta {
        display: flex;
        gap: 1.5rem;
    }

</style>