---
import { Image } from 'astro:assets';
import Image1 from '../images/image1.jpg';
import Image2 from '../images/image2.jpg';
import Image3 from '../images/image3.jpg';
import Image4 from '../images/image4.jpg';
---

<section class="section section--hero">
	<div class="swiper-container">
        <div class="swiper main">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <Image src={ Image1 } alt="Image 1" class="slide__image" />
                </div>
                <div class="swiper-slide">
                    <Image src={ Image2 } alt="Image 2" class="slide__image" />
                </div>
                <div class="swiper-slide">
                    <Image src={ Image3 } alt="Image 3" class="slide__image" />
                </div>
                <div class="swiper-slide">
                    <Image src={ Image4 } alt="Image 4" class="slide__image" />
                </div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
</section>

<script src="../lib/carousel.js"></script>

<style>

    .swiper-slide {
        height: 80vh;
    } 

    .slide__image {
        height: 100%;
        object-fit: cover;
        width: 100%;
    }

</style>