<nav class="nav">
    <ul class="nav__list">
        <li class="nav__item">
            <a href="/" class="nav__link">Início</a>
        </li>
        <li class="nav__item">
            <a href="/team" class="nav__link">A equipa</a>
        </li>
        <li class="nav__item">
            <a href="/science" class="nav__link">Investigação Científica</a>
        </li>
        <li class="nav__item">
            <a href="/edu" class="nav__link">Divulgação e Educação</a>
        </li>
        <li class="nav__item">
            <a href="/contacts" class="nav__link">Contactos</a>
        </li>
    </ul>
</nav>

<style>

    .nav {
        margin-inline: auto 3rem;
    }

    .nav__list {
        display: flex;
        gap: 1.5rem;
        justify-content: space-between;
    }

    .nav__link {
        color: var(--font-color);
        font-size: 1.2rem;
        font-weight: 600;
    }

</style>